.panel {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-auto-rows: 100px;
}

.iconContainer {
	width: 80px;
	height: 80px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.icon {
	font-size: 40px;
}
