.panel {
	display: flex;
	flex-direction: column;
	gap: 8px;
	background-color: #FFFFFF;
	align-items: center;
}

.iconContainer {
	width: 60px;
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly; 
	text-align: center;
}

.icon {
	font-size: 32px;
}

.selected {
	color: #06A7FF;
}
